.menu__content, .header__content {
  box-sizing: border-box;
  height: 100vh;
}

.menu__nav, .header__nav {
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-bottom: 32px;
  display: flex;
}

@media (width >= 744px) {
  .menu__nav, .header__nav {
    margin-bottom: 80px;
  }
}

@media (width >= 1200px) {
  .menu__nav, .header__nav {
    height: 88px;
    margin-bottom: 135px;
  }
}

.menu__link, .header__link {
  color: #1c1a26;
  padding: 8px 0;
  text-decoration: none;
  transition: color .3s;
}

.menu__link:hover, .header__link:hover {
  color: #f9512e;
}

.menu__link--contacts, .header__link--contacts {
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #f9512e;
  padding-left: 28px;
  position: relative;
}

.menu__link--contacts:before, .header__link--contacts:before {
  content: "";
  background-image: url("phone.181bcdd6.svg");
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.menu__link--contacts:hover, .header__link--contacts:hover {
  color: #b2341a;
}

.menu__link--contacts:hover:before, .header__link--contacts:hover:before {
  filter: brightness(75%);
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.page {
  scroll-behavior: smooth;
  background-color: #eef7ff;
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.page__body {
  margin: 0;
}

.page__body--with-menu {
  overflow: hidden;
}

.page__menu {
  transition: transform .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

@media (width >= 1200px) {
  .page__menu {
    display: none;
  }
}

.page__menu:target {
  transform: translateX(0);
}

.header {
  background-image: url("Cookie_phone.a343cf85.png");
  background-position: 50% 284px;
  background-repeat: no-repeat;
}

@media (width >= 744px) {
  .header {
    background-image: url("Cookie_tablet.b3067fd7.png");
    background-position: 50% 208px;
  }
}

@media (width >= 1200px) {
  .header {
    background-image: url("Cookie.97e0d247.png");
    background-position: 50% 88px;
  }
}

.header__menu {
  display: none;
}

@media (width >= 1200px) {
  .header__menu {
    justify-content: space-between;
    width: 496px;
    margin-left: auto;
    display: flex;
  }
}

.header__menu-small {
  background-image: url("menu.5116ced5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
}

@media (width >= 1200px) {
  .header__menu-small {
    display: none;
  }
}

.header__pharagraph {
  text-align: center;
  letter-spacing: -.01em;
  color: #1c1a26;
  width: 288px;
  margin: 0 auto 32px;
  line-height: 150%;
}

@media (width >= 744px) {
  .header__pharagraph {
    text-align: left;
    margin: 0 0 146px;
  }
}

@media (width >= 1200px) {
  .header__pharagraph {
    width: 260px;
    margin: 0 0 8px;
  }
}

.header__title {
  letter-spacing: -.05em;
  text-transform: uppercase;
  text-align: center;
  color: #1c1a26;
  width: 288px;
  height: 108px;
  margin: 0 auto 280px;
  font-size: 64px;
  font-weight: normal;
  line-height: 54px;
}

@media (width >= 744px) {
  .header__title {
    width: 680px;
    margin: 0 auto 130px;
    font-size: 80px;
    line-height: 68px;
  }
}

@media (width >= 1200px) {
  .header__title {
    width: 1112px;
    margin: 0 auto 64px;
    font-size: 136px;
    line-height: 116px;
  }
}

.header__button {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #f9512e;
  border: 2px solid #f9512e;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 56px;
  margin: 0 auto;
  line-height: 16px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

@media (width >= 1200px) {
  .header__button {
    margin: 0;
  }
}

.header__button:before {
  content: "";
  background-image: url("pin.168c52d5.svg");
  width: 20px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
}

.header__button:hover {
  color: #fff;
  background-color: #f9512e;
}

.header__button:hover:before {
  background-image: url("pin_hover.1403d7af.svg");
}

.header__button:active {
  color: #fff;
  background-color: #b2341a;
  border-color: #b2341a;
  outline: none;
}

.header__button:active:before {
  background-image: url("pin_hover.1403d7af.svg");
}

.container {
  max-width: 743px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (width >= 744px) {
  .container {
    max-width: 1023px;
    padding: 0 44px;
  }
}

@media (width >= 1200px) {
  .container {
    max-width: 1112px;
  }
}

.container-main {
  box-sizing: border-box;
  max-width: 288px;
  margin: 0 auto;
  padding: 0;
}

@media (width >= 744px) {
  .container-main {
    max-width: 1023px;
  }
}

@media (width >= 1200px) {
  .container-main {
    max-width: 1112px;
  }
}

.logo__image {
  width: 128px;
  height: 24px;
}

.logo__image-footer {
  width: 157px;
  height: 30px;
  margin-bottom: 44px;
}

@media (width >= 744px) {
  .logo__image-footer {
    margin-bottom: 100px;
  }
}

@media (width >= 1200px) {
  .logo__image-footer {
    margin-bottom: 65px;
  }
}

.menu__content {
  background-color: #eef7ff;
}

.menu__nav {
  margin-bottom: 140px;
}

.menu__cross {
  background-image: url("Сross.fa155410.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  justify-content: center;
  margin-bottom: 24px;
  display: flex;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  line-height: 150%;
}

@media (width >= 744px) {
  .menu__link {
    font-size: 20px;
  }
}

.products {
  padding-top: 60px;
}

@media (width >= 1200px) {
  .products {
    margin-bottom: 176px;
    padding: 0;
  }
}

.products__title {
  letter-spacing: -.05em;
  color: #1c1a26;
  text-transform: uppercase;
  width: 288px;
  height: 82px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
}

@media (width >= 744px) {
  .products__title {
    font-size: 56px;
  }
}

@media (width >= 1200px) {
  .products__title {
    font-size: 72px;
  }
}

@media (width >= 744px) {
  .products__title {
    width: 680px;
    height: 48px;
    padding-top: 50px;
  }
}

@media (width >= 1200px) {
  .products__title {
    width: 584px;
    height: 61px;
  }
}

.products__subtitle {
  color: #1c1a26;
  letter-spacing: -.01em;
  margin-bottom: 56px;
  line-height: 24px;
}

@media (width >= 744px) {
  .products__subtitle {
    margin-bottom: 80px;
  }
}

.products__item {
  margin-bottom: 64px;
}

@media (width >= 744px) {
  .products__item {
    margin-bottom: 88px;
  }

  .products__item:nth-child(n+5) {
    margin-bottom: 0;
  }
}

.products__photo {
  object-fit: cover;
  border-radius: 8px;
  width: 288px;
  height: 356px;
  margin-bottom: 16px;
  transition: transform .3s;
}

.products__photo:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@media (width >= 744px) {
  .products__photo {
    width: 328px;
    height: 424px;
  }
}

@media (width >= 1200px) {
  .products__photo {
    width: 100%;
    height: 512px;
  }
}

.products__name {
  text-transform: uppercase;
  letter-spacing: .02em;
  color: #7f8096;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 16px;
}

.products__text {
  letter-spacing: -.01em;
  color: #1c1a26;
  margin-bottom: 14px;
  line-height: 24px;
}

.products__link {
  color: #f9512e;
  text-transform: uppercase;
  padding: 10px 0 10px 28px;
  line-height: 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

.products__link:before {
  content: "";
  background-image: url("Arrow.3fc82cc6.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 0;
}

.products__link:hover {
  color: #b2341a;
}

.products__link:hover:before {
  animation: .3s arrow;
}

.grid {
  grid-template-columns: repeat(2, 136px);
  justify-content: center;
  column-gap: 16px;
  display: grid;
}

.grid__item--phone-1-1 {
  grid-column: 1 / 2;
}

.grid__item--phone-1-2 {
  grid-column: 1 / 3;
}

.grid__item--phone-2-2 {
  grid-column: 2 / 3;
}

@media (width >= 744px) {
  .grid {
    grid-template-columns: repeat(8, 64px);
    column-gap: 24px;
  }

  .grid__item--tablet-1-1 {
    grid-column: 1 / 2;
  }

  .grid__item--tablet-1-2 {
    grid-column: 1 / 3;
  }

  .grid__item--tablet-1-3 {
    grid-column: 1 / 4;
  }

  .grid__item--tablet-1-4 {
    grid-column: 1 / 5;
  }

  .grid__item--tablet-1-5 {
    grid-column: 1 / 6;
  }

  .grid__item--tablet-1-6 {
    grid-column: 1 / 7;
  }

  .grid__item--tablet-1-7 {
    grid-column: 1 / 8;
  }

  .grid__item--tablet-1-8 {
    grid-column: 1 / 9;
  }

  .grid__item--tablet-2-2 {
    grid-column: 2 / 3;
  }

  .grid__item--tablet-2-3 {
    grid-column: 2 / 4;
  }

  .grid__item--tablet-2-4 {
    grid-column: 2 / 5;
  }

  .grid__item--tablet-2-5 {
    grid-column: 2 / 6;
  }

  .grid__item--tablet-2-6 {
    grid-column: 2 / 7;
  }

  .grid__item--tablet-2-7 {
    grid-column: 2 / 8;
  }

  .grid__item--tablet-2-8 {
    grid-column: 2 / 9;
  }

  .grid__item--tablet-3-3 {
    grid-column: 3 / 4;
  }

  .grid__item--tablet-3-4 {
    grid-column: 3 / 5;
  }

  .grid__item--tablet-3-5 {
    grid-column: 3 / 6;
  }

  .grid__item--tablet-3-6 {
    grid-column: 3 / 7;
  }

  .grid__item--tablet-3-7 {
    grid-column: 3 / 8;
  }

  .grid__item--tablet-3-8 {
    grid-column: 3 / 9;
  }

  .grid__item--tablet-4-4 {
    grid-column: 4 / 5;
  }

  .grid__item--tablet-4-5 {
    grid-column: 4 / 6;
  }

  .grid__item--tablet-4-6 {
    grid-column: 4 / 7;
  }

  .grid__item--tablet-4-7 {
    grid-column: 4 / 8;
  }

  .grid__item--tablet-4-8 {
    grid-column: 4 / 9;
  }

  .grid__item--tablet-5-5 {
    grid-column: 5 / 6;
  }

  .grid__item--tablet-5-6 {
    grid-column: 5 / 7;
  }

  .grid__item--tablet-5-7 {
    grid-column: 5 / 8;
  }

  .grid__item--tablet-5-8 {
    grid-column: 5 / 9;
  }

  .grid__item--tablet-6-6 {
    grid-column: 6 / 7;
  }

  .grid__item--tablet-6-7 {
    grid-column: 6 / 8;
  }

  .grid__item--tablet-6-8 {
    grid-column: 6 / 9;
  }

  .grid__item--tablet-7-7 {
    grid-column: 7 / 8;
  }

  .grid__item--tablet-7-8 {
    grid-column: 7 / 9;
  }

  .grid__item--tablet-8-8 {
    grid-column: 8 / 9;
  }
}

@media (width >= 1200px) {
  .grid {
    grid-template-columns: repeat(8, 118px);
    column-gap: 24px;
  }

  .grid__item--desktop-1-1 {
    grid-column: 1 / 2;
  }

  .grid__item--desktop-1-2 {
    grid-column: 1 / 3;
  }

  .grid__item--desktop-1-3 {
    grid-column: 1 / 4;
  }

  .grid__item--desktop-1-4 {
    grid-column: 1 / 5;
  }

  .grid__item--desktop-1-5 {
    grid-column: 1 / 6;
  }

  .grid__item--desktop-1-6 {
    grid-column: 1 / 7;
  }

  .grid__item--desktop-1-7 {
    grid-column: 1 / 8;
  }

  .grid__item--desktop-1-8 {
    grid-column: 1 / 9;
  }

  .grid__item--desktop-2-2 {
    grid-column: 2 / 3;
  }

  .grid__item--desktop-2-3 {
    grid-column: 2 / 4;
  }

  .grid__item--desktop-2-4 {
    grid-column: 2 / 5;
  }

  .grid__item--desktop-2-5 {
    grid-column: 2 / 6;
  }

  .grid__item--desktop-2-6 {
    grid-column: 2 / 7;
  }

  .grid__item--desktop-2-7 {
    grid-column: 2 / 8;
  }

  .grid__item--desktop-2-8 {
    grid-column: 2 / 9;
  }

  .grid__item--desktop-3-3 {
    grid-column: 3 / 4;
  }

  .grid__item--desktop-3-4 {
    grid-column: 3 / 5;
  }

  .grid__item--desktop-3-5 {
    grid-column: 3 / 6;
  }

  .grid__item--desktop-3-6 {
    grid-column: 3 / 7;
  }

  .grid__item--desktop-3-7 {
    grid-column: 3 / 8;
  }

  .grid__item--desktop-3-8 {
    grid-column: 3 / 9;
  }

  .grid__item--desktop-4-4 {
    grid-column: 4 / 5;
  }

  .grid__item--desktop-4-5 {
    grid-column: 4 / 6;
  }

  .grid__item--desktop-4-6 {
    grid-column: 4 / 7;
  }

  .grid__item--desktop-4-7 {
    grid-column: 4 / 8;
  }

  .grid__item--desktop-4-8 {
    grid-column: 4 / 9;
  }

  .grid__item--desktop-5-5 {
    grid-column: 5 / 6;
  }

  .grid__item--desktop-5-6 {
    grid-column: 5 / 7;
  }

  .grid__item--desktop-5-7 {
    grid-column: 5 / 8;
  }

  .grid__item--desktop-5-8 {
    grid-column: 5 / 9;
  }

  .grid__item--desktop-6-6 {
    grid-column: 6 / 7;
  }

  .grid__item--desktop-6-7 {
    grid-column: 6 / 8;
  }

  .grid__item--desktop-6-8 {
    grid-column: 6 / 9;
  }

  .grid__item--desktop-7-7 {
    grid-column: 7 / 8;
  }

  .grid__item--desktop-7-8 {
    grid-column: 7 / 9;
  }

  .grid__item--desktop-8-8 {
    grid-column: 8 / 9;
  }
}

.about {
  padding-top: 60px;
}

.about__content {
  mix-blend-mode: multiply;
  background-image: url("Crumbs-phone.6253c848.png");
  background-position: 0 490px;
  background-repeat: no-repeat;
}

@media (width >= 744px) {
  .about__content {
    background-image: url("Crumbs-tablet.608459a4.png");
    background-position: 100px 40px;
  }
}

@media (width >= 1200px) {
  .about__content {
    background-image: url("Crumbs.9a413ede.png");
    background-position: 250px 0;
  }
}

.about__block {
  margin-bottom: 64px;
}

@media (width >= 744px) {
  .about__block {
    margin-bottom: 72px;
  }
}

@media (width >= 1200px) {
  .about__block {
    margin-bottom: 144px;
  }
}

.about__title {
  letter-spacing: -.05em;
  color: #1c1a26;
  text-transform: uppercase;
  width: 288px;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
}

@media (width >= 744px) {
  .about__title {
    font-size: 56px;
  }
}

@media (width >= 1200px) {
  .about__title {
    font-size: 72px;
  }
}

@media (width >= 744px) {
  .about__title {
    width: 328px;
    margin-bottom: 0;
  }
}

@media (width >= 1200px) {
  .about__title {
    width: 544px;
  }
}

.about__text {
  color: #1c1a26;
  letter-spacing: -.01em;
  line-height: 24px;
}

@media (width >= 744px) {
  .about__text {
    width: 328px;
  }
}

@media (width >= 1200px) {
  .about__text {
    width: 544px;
  }
}

.about__numbers {
  padding-bottom: 72px;
}

@media (width >= 744px) {
  .about__numbers {
    padding-bottom: 152px;
  }
}

@media (width >= 1200px) {
  .about__numbers {
    padding-bottom: 350px;
  }
}

.about__numbers-item {
  margin-bottom: 48px;
}

@media (width >= 744px) {
  .about__numbers-item {
    margin-bottom: 80px;
  }
}

.about__numbers-number {
  text-transform: uppercase;
  letter-spacing: -.05em;
  color: #1c1a26;
  margin-bottom: 8px;
  font-size: 96px;
  line-height: 82px;
}

.about__numbers-text {
  color: #7f8096;
  letter-spacing: -.01em;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.footer {
  background-color: #1c1a26;
  padding: 61px 0;
}

@media (width >= 744px) {
  .footer {
    padding: 88px 0;
  }

  .footer__content {
    flex-wrap: wrap;
    gap: 0 24px;
    display: flex;
  }
}

.footer__nav {
  width: 328px;
  margin-bottom: 64px;
}

@media (width >= 1200px) {
  .footer__nav {
    width: 544px;
  }
}

.footer__menu, .footer__email {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.footer__menu-menu {
  text-transform: uppercase;
  letter-spacing: .02em;
  color: #7f8096;
  margin: 0 0 8px;
  font-weight: 500;
  line-height: 16px;
}

.footer__link {
  letter-spacing: -.01em;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.footer__link:hover {
  color: #f9512e;
}

@media (width >= 744px) {
  .footer__contacts {
    width: 328px;
  }
}

@media (width >= 1200px) {
  .footer__contacts {
    width: 544px;
  }
}

.footer__title {
  letter-spacing: -.05em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
}

@media (width >= 744px) {
  .footer__title {
    font-size: 56px;
  }
}

@media (width >= 1200px) {
  .footer__title {
    font-size: 72px;
  }

  .footer__contacts-phones {
    justify-content: space-between;
    display: flex;
  }
}

.footer__email {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (width >= 1200px) {
  .footer__email {
    width: 260px;
    margin-top: 0;
  }
}

.footer__networks {
  gap: 35px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 744px) {
  .footer__networks {
    margin: 0;
  }
}

.footer__networks-link {
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: background-image .3s;
}

.footer__networks--fb {
  background-image: url("fb.d2e73302.svg");
}

.footer__networks--fb:hover, .footer__networks--fb:focus {
  background-image: url("fb_hover.4a9997c9.svg");
}

.footer__networks--insta {
  background-image: url("insta.e9ac1ef8.svg");
}

.footer__networks--insta:hover, .footer__networks--insta:focus {
  background-image: url("insta_hover.3c762e03.svg");
}

.footer__networks--twit {
  background-image: url("twit.77cf4b42.svg");
}

.footer__networks--twit:hover, .footer__networks--twit:focus {
  background-image: url("twit_hover.5c30f9ec.svg");
}

.footer__copyright {
  letter-spacing: -.01em;
  color: #7f8096;
  line-height: 24px;
}

* {
  margin: 0;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
